    .debug .hero, .debug .about{
        background-color: aquamarine;
        height: 495px;
    }
    .debug .contact{
        height:687px;
    }

    .debug .footer_top{
        background-color: gray;
        height: 220px;
    }
    .debug .footer_bottom{
        background-color: lightslategray;
        height: 60px;
    }
    
    .debug .portfolio [class^="col"]{
        border: 1px solid black;
        
        height: 100px;
        background-color: lightcoral;
    }