/* color palette */
:root {
    --text: #212529;
  --green-main: #1abc9c;
  --nav-footer-top: #2c3e50;
  --footer-bottom: #3a546d;
}
/* #region background color */
#site_header, .footer_top{
    background-color: var(--nav-footer-top);
}
.hero, .about{
    background-color: var(--green-main);
}
.footer_bottom{
    background-color: var(--footer-bottom);
}
/* #endregion */

/* #region header */
header a{
    text-transform: uppercase;
}
.ms-btn-nav{
    border: 1px solid lightgray
}
/* #endregion header */

/* #region main */
/* #region hero */
.star{
    width: 30%;
}
.star>*{
    padding: 0 1rem;
}
.white_bar{
    border: 2px solid white;
    width: 60%;
}
/* #endregion hero */

/* #region portfolio */
.portfolio .container{
    color: var(--text);
}
.black_bar{
    border: 2px solid var(--text);
    width: 60%;
}
/* #endregion porfolio */
